.main{
    background-color: #0e0e0e;
}

.home-container {
    position: relative;
}

.who h3{
    color: #ffffff;
    text-align: center;
    font-size: 50px;
}

.who p{
    font-size: 20px;
}

.overview h3{
    color: #ffffff;
    text-align: center;
    font-size: 50px;
}

.overview p{
    font-size: 20px;
}

.background-image {
    background-color: #0e0e0e;
}

.bimg {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-color: #0e0e0e;
    filter: blur(4px);
}

.company-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    z-index: 2;
}

@media (max-width: 768px) {
    .bimg {
        height: 400px;
    }

    .company-name h1 {
        font-size: 25px;
    }
}

.company-name h1 {
    color: #ffffff;
    font-size: 65px;
    
}

.heading{
    text-align: center;
    color: #ffffff;
    font-size: 50px;
}




.training-box {
    position: relative;
    margin-top: 20px;
    background-color: #0e0e0e;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 600px;
    left: 50%;
    transform: translateX(-50%);
}

.training-box h2{
    color: #ffffff;
}

.training-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.training-link:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .training-info {
        font-size: 14px;
        padding: 10px;
    }
}

.services5 {
    display: flex;
    overflow-x: hidden;
    /* Hide overflow */
    /* margin-top: 0px; */
}

.service5 {
    background-color: #0e0e0e;
    display: flex;
    flex-direction: row;
    align-items:center;
    overflow: hidden;
    transition: flex 0.5s ease;
    height: 400px;
       
}

.service5 p {
    color: #ffffff;
}

.service5 h3{
    color: #ffffff;
}

.service5 img {
    width: 30%;
    /* Adjust as needed */
    height: auto;
}

.service-description {
    width: 50%;
    /* Adjust as needed */
    padding: 20px;
}

.services-container {
    position: relative;
    text-align: center;
}

.heading{
    margin-top: 40px;
    color: #ffffff;
    text-align: center;
   
}

.next-button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.next-button:hover {
    background-color: #0056b3;
}

.customers {
    background-color: #0e0e0e;
    padding: 20px;
    text-align: center;
}

.customers h1{
    color: #ffffff;
}

.customer-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.customer {
    width: 170px;
    margin: 10px;
}

.customer img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.customer h3 {
    font-size: 18px;
    color: #ffffff;
}

.contact-us {
    background-color: #ffffff;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}

.contact-us h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.contact-us p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.contact-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.contact-link:hover {
    background-color: #0056b3;
}

/* Slider container */
.wins {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.wins h1{
    color: #ffffff;
    font-size: 50px;
}

/* Slider content */
/* Styles for desktop */
/* Slider container */
.wins {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

/* Slider content */
.wins-info {
    background-color: #0e0e0e;
    padding: 30px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 600px;
    font-size: 20px;
    position: relative;
}

/* Slider buttons */
.slick-prev,
.slick-next {
    font-size: 24px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slick-prev {
    left: -20px;
}

.slick-next {
    right: -20px;
}

/* Styles for mobile */
@media screen and (max-width: 768px) {

    /* Adjustments for mobile devices */
    /* Slider container */
    .wins {
        padding: 10px;
    }

    /* Slider content */
    .wins-info {
        padding: 20px;
        margin: 10px auto;
        max-width: 90%;
        /* Adjusted width for better fit on smaller screens */
    }
}

.client-list {
    margin: 20px;
    text-align: center;
}

.client-list h1{
    color:#fff;
    font-size: 50px;
}

.client-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.client {
    margin: 10px;
    text-align: center;
}

.client img {
    width: 150px;
    height: 150px;
    object-fit: fill;
    border-radius: 100%;
}

.client p {
    margin-top: 5px;
}