

.success-stories {
    padding: 50px;
    text-align: center;
    text-align: center;
        font-size: 50px;
        background-color: #0e0e0e;
        color: #888;
        padding-top: 30px;
        padding-bottom: 60px;
        margin-top: 0;
}

.success-header {
    margin-bottom: 30px;
    text-align: center;
        color: #ffffff;
}

.success-header h1 {
    font-size: 5.5rem;
    margin-bottom: 20px;
}

.success-header p {
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 100px;
}

.success-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.success-item {
    width: 45%;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.success-item h2 {
    font-size: 1rem;
    margin-bottom: 10px;
}

.success-item p {
    font-size: 1.3rem;
    color: #ffffff;
}

/* Styles for the contact us section */
.contact-us {
    background-color: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

.contact-us h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact-us p {
    font-size: 1.1rem;
    color: #666;
}

.contact-link {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1.1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.contact-link:hover {
    background-color: #0056b3;
}

.introduction{
    text-align: center;
    color: #ffffff;
    background-color: #0e0e0e;
}

.introduction p{
    font-size: 1.2rem;
    color: #ffffff;

}

/* Styles for the footer */
/* You can define footer styles here or in the Footer component */



