.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-logo{
    color: rgb(88, 179, 88);
    text-decoration: none;
    font-size: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.footer-content p{
    color: #fff;;
}

.footer-section {
    text-align: left;
    max-width: 400px;
    margin-bottom: 20px;
    /* Add margin bottom for better spacing */
}


.contact span {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.contact span a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.socials a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    margin-right: 15px;
}

.links {
    margin-top: 20px;
}

.links h2 {
    margin-bottom: 10px;
}

.links ul {
    padding-left: 0;
    list-style: none;
}

.links ul li {
    margin-bottom: 10px;
}

.links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.links ul li a:hover {
    color: green;
}

.socials{
    color: #fff;
}

.socials a:hover{
    color: green;
}

.footer-bottom {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    font-size: 14px;
    width: 100%;
    text-align: center;
}

.servi ul {
    padding-left: 0;
    list-style: none;
}

.servi ul li {
    margin-bottom: 10px;
    text-align: center;
}

.servi ul li:before {
    content: "";
}


.serlink{
    color: #fff;
    text-decoration: none;
}

.serlink:hover{
    color: green;
}