/* General Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
}

.navbar-logo-img {
    max-width: 100px;
    height: auto;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.menu-icon {
    display: none;
    cursor: pointer;
    background-color: #0a7500;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

/* Navbar Links and Dropdown for Desktop */
.navbar-nav {
    list-style: none;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-right: 15px;
}

.nav-link {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}


.nav-link:hover{

    color: #0a7500;

}

/* Navbar Dropdown for Mobile */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .navbar-right {
        margin-left: auto;
    }

    .navbar-logo {
        margin-right: 20px;
    }

    .navbar-nav {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        padding: 10px;
        border-radius: 5px;
        z-index: 1000;
    }

    .navbar-nav.open {
        display: flex;
    }

    /* Adjust logo alignment for mobile */
    .navbar-logo-img {
        max-width: 80px;
    }

    .nav-item{
        margin-top: 8px;
       
    }

    .nav-item .nav-link:hover{
        font-size: 15px;
    }
    
}